.collection__title {
  margin-bottom: 50px;
}
.collection__line {
  margin-bottom: 30px;
}
.collection__line:last-child {
  /* margin-buttom: 0; */
  margin-bottom: 0;
}
.collection__img {
  border-radius: 12px;
  margin-right: 1.5rem;
}
.collection {
  margin-bottom: 80px;
}
